 <!-- NAVBAR start -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MCC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#" id="login_link" data-bs-toggle="modal"
                    data-bs-target="#loginModal">Login</a>
                <a class="nav-link" href="#" id="register_link" data-bs-toggle="modal"
                    data-bs-target="#registerModal">Signup</a>
                <a class="nav-link" href="#" id="logout_link">Logout</a>
            </div>
        </div>
    </div>
</nav>
<!-- NAVBAR end -->